 <!-- <footer class="text-center">
    <div class="footer-below">
        <p class="text-center">Copyright ©2016 Rails101
            <br>Design by liyangbin
        </p>
    </div>
  </footer> -->


      <footer>
        <p class="text-center">Copyright ©2016 Rails101
            <br>Design by liyangbin
        </p>
      </footer>
